body{
    background-color:white;
}

header{
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 12rem;
    padding-bottom: 12rem;

}

#titulo{
    color:black;
    background-color:#FFE4E1;
    text-align: center;
    height: 3rem;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    font-weight: bold;    
}


.pink:before{ 
    font-size:2.5rem;
    color:rgb(180,113,87);
}

.container-fluid{
    background-color:rgb(251,224,217);
    font-size: 1.2rem;
   
}

.my-auto{
    background-color:rgb(251,224,217);
  
}

.titulo-2{
    padding-top: 0rem;
    text-align: center;
    font-family:monospace;
}

.lista{
    font-family:monospace;
    font-size: 1.2rem;
    
}

.text-girl{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 6px;
    text-align: center;
    font-size: 3rem;
}

.btn{
    color:white;
    text-align: center;
}

.text-center{
    color:cornflowerblue;
}






